<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="og:description" content="<%=htmlWebpackPlugin.options.description %>" />
    <meta property="og:url" content="<%=htmlWebpackPlugin.options.url %>" />
    <meta property="og:site_name" content="<%=htmlWebpackPlugin.options.name %>" />
    <meta property="og:type" content="<%=htmlWebpackPlugin.options.type %>" />
    <meta property="twitter:card" content="<%=htmlWebpackPlugin.options.twitterCard %>" />
    <meta property="twitter:image:alt" content="<%=htmlWebpackPlugin.options.twitterAlt %>" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</body>

</html>